/*主体部分开始*/

.main {
    margin-bottom: 200px;
    padding: 15px 0px;
}
.left_details{
    margin-bottom: 300px;
    line-height: 24px;
}
button {
    outline: none;
    border: none;
}


.category {
    padding-left: 20px;
    color: #968A96;
}

.detail-wrapper {
    padding: 0 150px;
}

.detail-title h2 {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #0086dd;

}
.part{
    margin-bottom: 30px;
}
.source{
    text-align: center;
    font-size: 16px;
    color: #333;
    margin: 10px 0 20px;
}

.part h3 {
    height: 26px;
    line-height: 25px;
    margin-bottom: 5px;
    padding-left: 20px;
    font-size: 18px;
    position: relative;
}
.part h3 i{
    position: absolute;
    top: 4px;
    left: 0px;
    width: 5px;
    height: 18px;
    background-color: #0086dd;
    font-style: normal;
}
.part p {
    text-indent: 32px;
    line-height: 32px;
    font-size: 16px;
}

.paraphrase-wrapper p {
    text-indent: 2em;
}
.twsy_box ul li{
    line-height: 32px;
    color: #333;
}
.twsy_box ul li.on a,.twsy_box ul li:hover a{
    color: #0086dd;
}
.twsy_box ul li i{
    font-style: normal;
    position: absolute;
    top: 7px;
    left: -10px;
    width: 4px;
    height: 17px;
    background-color: #dee4e9;
}
/*主体部分结束*/
.shadow {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255,255, 0.8);
    background: #fff;
    opacity: 0.8;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
    /* display: none; */
}
.shadowBox {
    position: relative;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 300px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background: rgba(255, 255,255, 0.7); */
    margin: 0 auto;
    text-align: center;
}
.none{
    min-height: 600px;
    position: relative;
}
.none img{
    position: absolute;
    top:80px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.none span{
    position: absolute;
    top:370px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100px;
    width: 500px;
    line-height: 50px;
    text-align: center;
    color: #666;
    font-size: 22px;
}