.main {
    min-height: 100%;
}

.main_top {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 1px 12px #ececec;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}



/*.trans {
    transition: all 0.3s;
    position: relative;
}
*/


/*面包屑开始*/

.bread {
    line-height: 50px;
}

.bread a {
    color: #333;
}

.bread a.current {
    color: #0086dd;
    font-weight: 600;
}

















/*右侧开始*/


/*.funtags {
    position: relative;
}

.tags_list {
    position: relative;
}

.tags_list>a {
    line-height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.tags_list i {
    display: inline-block;
    vertical-align: middle;

    background-image: url(../images/sprite3.png);
    background-repeat: no-repeat;
}

.find_btn i {
    width: 14px;
    height: 16px;
    background-position: 0 0;
}

.download_btn i {
    width: 14px;
    height: 16px;
    background-image: url(../images/download.png);
    background-position: 0 0;
}

.print_btn i {
    width: 16px;
    height: 15px;
    background-position: -36px 0;
}

.collect_btn i {
    width: 17px;
    height: 16px;
    background-position: -54px 0;
}

.more_btn i {
    width: 17px;
    height: 4px;
    background-position: -72px 0;
}

.more_btn:hover>i,
.more_btn.on i {
    background-position: -72px -18px;
}

.more_box {
    width: 108px;
    border: 1px solid #eee;
    position: absolute;
    right: -20px;
    top: 40px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 1px 1px 5px 3px #f3f3f3;
    border-radius: 3px;
}

.more_box a {
    line-height: 30px;
    padding-left: 15px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 10;
}

.more_box i,
.more_box span {
    cursor: pointer;
}

.email_btn i {
    width: 16px;
    height: 12px;
    background-position: -91px 0;
}

.share_btn i {
    width: 14px;
    height: 14px;
    background-position: -110px 0;
}

.send_btn i {
    width: 14px;
    height: 13px;
    background-position: -129px 0;
}

.postil_btn i {
    width: 16px;
    height: 17px;
    background-position: -145px 0;
}

.tags_list a:hover>span,
.tags_list a.on>span {
    color: #0086dd;
}

.find_btn:hover i,
.find_btn.on i {
    background-position: 0 -18px;
}

.download_btn:hover i,
.download_btn.on i {
    background-position: 0 -18px;
}

.print_btn:hover i,
.print_btn.on i {
    background-position: -36px -18px;
}

.collect_btn.on i {
    background-position: -54px -18px;
}

.more_btn:hover>i,
.more_btn.on i {
    background-position: -72px -18px;
}

.email_btn:hover i,
.email_btn.on i {
    background-position: -91px -18px;
}

.share_btn:hover i,
.share_btn.on i {
    background-position: -110px -18px;
}

.send_btn:hover i,
.send_btn.on i {
    background-position: -129px -18px;
}

.postil_btn:hover i,
.postil_btn.on i {
    background-position: -145px -18px;
}
*/

.main_bottom {}

















/*主体部分左侧*/

.detail-wrapper {
    width: 830px;
    /*border: 1px solid #DDD;*/
    /*letter-spacing: 2px;*/
}

.introduce {
    padding-left: 40px;
    /*padding: 10px;*/
}



















/*.introduce .from_cause {
    color: #999;
    font-size: 12px;
}*/

.introduce h2 {
    color: #0086dd;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.introduce .features-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.introduce .features-wrapper span {
    display: inline-block;
    line-height: 16px;
    margin-bottom: 10px;
    padding: 0 15px;
    border-right: 1px solid #ddd;
    font-size: 16px;
    color: #333;
}

.introduce .features-wrapper span:last-child {
    border-right: none;
}

.introduce p {
    /*width: 830px;*/
    line-height: 32px;
    font-size: 16px;
    text-indent: 2em;
}

.introduce .span-wrapper {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.introduce .span-wrapper span {
    float: left;
    height: 14px;
    line-height: 14px;
    padding: 0 15px;
    border-left: 1px solid #ddd;
}

.introduce .span-wrapper span.court,
.introduce .span-wrapper span.causeId {
    cursor: pointer;
}

.introduce .category {
    color: #999;
}

.introduce .court,
.introduce .causeId {
    color: #0086dd;
}

.expert_opinion,
.laws-wrapper {
    /*padding-left: 5px;*/
}

.p-wrapper {
    margin-bottom: 10px;
    padding-left: 20px;
}

.expert_opinion h3,
.laws-wrapper h3 {
    padding: 20px 0 26px 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}

.p-wrapper p,
.p-wrapper h4 {
    padding-left: 20px;
    line-height: 24px;
    position: relative;
}

.expert_opinion p {
    /*text-indent: 2em;*/
    cursor: pointer;
}

.expert_opinion p:hover {
    color: #0086dd;
}

.expert_opinion p:hover .b_4px {
    background-color: #0086dd;
}

.laws-wrapper .p-wrapper:hover {
    color: #0086dd;
    cursor: pointer;
}

.laws-wrapper .p-wrapper:hover .b_4px {
    background-color: #0086dd;
}

.b_4px {
    position: absolute;
    top: 5px;
    left: 0;
    width: 4px;
    height: 14px;
    background-color: #ddd;
}


.p-wrapper .professor-wrapper {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.professor-wrapper span {
    float: left;
    color: #999;
    height: 14px;
    line-height: 14px;
    padding: 0 15px;
    border-left: 1px solid #ddd;
}

.professor-wrapper span.law-origin {
    cursor: pointer;
}

.professor-wrapper span.law-origin:hover {
    color: #0086dd;
}







/*.professor-wrapper span:first-child {
    border-left: none;
    padding-left: 0;
}*/

.more-wrapper {}

.show_more {
    padding-left: 20px;
    position: relative;
    color: #0086dd;
}

.show_more i {}

.show_more .more_num {}

.laws-wrapper {
    padding-bottom: 30px;
}

.first_span {
    border-left: none !important;
    padding-left: 0 !important;
}

















/*主体部分右侧*/

.column-wrapper {
    width: 310px;
    padding: 0 20px;
    border-left: 1px solid #eee;
    /*letter-spacing: 2px;*/
}

.column-part {
    margin-bottom: 25px;
}

.column-part h5 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
}

.column-part h5 .change_more {
    float: right;
    font-size: 14px;
    font-weight: 400;
    color: #0086dd;
    cursor: pointer;
}

.column-part ul {}

.column-part ul li {
    position: relative;
    line-height: 26px;
    margin-bottom: 10px;
    padding-left: 35px;
    cursor: pointer;
}

.keyword_ul {
    padding-left: 35px;
}

ul.keyword_ul li {
    float: left;
    line-height: 30px;
    margin: 0;
    padding: 0 15px 0 0;
}

.column-part ul li:hover {
    color: #0086dd;
}

.column-part ul li:hover .bl {
    background-color: #0086dd;
}

.column-part ul li .bl {
    position: absolute;
    top: 6px;
    left: 22px;
    width: 4px;
    height: 14px;
    background-color: #ddd;
}
















/*主体部分结束*/


/*固定栏开始*/

.fixedBox {
    position: fixed;
    right: 2%;
    bottom: 15%;
    /* display: none; */
}

.fixedBox>div {
    width: 41px;
    height: 45px;
}

.fixed_btn {
    display: inline-block;
    width: 39px;
    height: 39px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 39px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px #eee;
}

.catalog_btn {
    background: #fff url(../images/content.png) no-repeat center center;
}

.catalog_btn:hover,
.catalog_btn.on {
    border: 1px solid #0086dd;
    box-shadow: 0 0 1px 1px #eee;
    background: #fff url(../images/content_hover.png) no-repeat center center;
}

.catalog_box {
    position: absolute;
    right: 45px;
    bottom: 0;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 1px 1px #eee;
    box-sizing: border-box;
    padding: 20px;
    line-height: 30px;
    overflow-y: hidden;
}

.catalog_box ul {
    position: absolute;
}

.backtop_btn {
    background: #fff url(../images/top.png) no-repeat center center;
}

.backtop_btn:hover {
    border: 1px solid #0086dd;
    box-shadow: 0 0 1px 1px #eee;
    background: #fff url(../images/top_hover.png) no-repeat center center;
}















/*固定栏结束*/


/*加载动画开始*/

.shadow {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    background: #fff;
    opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff, endColorstr=#19ffffff);
    /* display: none; */
}

.shadowBox {
    position: relative;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 300px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background: rgba(255, 255,255, 0.7); */
    margin: 0 auto;
    text-align: center;
}












/*加载动画结束*/


/*无结果*/

.none {
    min-height: 600px;
    position: relative;
}

.none img {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.none span {
    position: absolute;
    top: 370px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100px;
    width: 500px;
    line-height: 50px;
    text-align: center;
    color: #666;
    font-size: 22px;
}